/*******************************/
/* -------- CSS RESET -------- */
/*******************************/
/* -------- GLOBAL -------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  line-height: 1; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, input, textarea {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0; }

legend {
  color: #000; }

a, img, input, textarea, select {
  outline: none; }

textarea {
  overflow: auto; }

input[type=submit], input[type=checkbox] {
  cursor: pointer; }

input[type=submit] {
  background: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* -------- MOBILE -------- */
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none; }

a, input, div {
  -webkit-tap-highlight-color: transparent; }

input[type=text], input[type=tel], input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0; }

@font-face {
  font-family: 'serif_gothic_heavy';
  src: url("../font/serifgothicstd-heavy-webfont.eot");
  src: url("../font/serifgothicstd-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../font/serifgothicstd-heavy-webfont.woff2") format("woff2"), url("../font/serifgothicstd-heavy-webfont.woff") format("woff"), url("../font/serifgothicstd-heavy-webfont.ttf") format("truetype"), url("../font/serifgothicstd-heavy-webfont.svg#serif_gothic_heavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'qanelas_regular';
  src: url("../font/qanelas-regular-webfont.eot");
  src: url("../font/qanelas-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/qanelas-regular-webfont.woff2") format("woff2"), url("../font/qanelas-regular-webfont.woff") format("woff"), url("../font/qanelas-regular-webfont.ttf") format("truetype"), url("../font/qanelas-regular-webfont.svg#qanelas_regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 20px; }

html, body {
  width: 100%;
  min-width: 320px;
  min-height: 600px;
  font-size: 14px;
  z-index: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #181818 !important; }

#content {
  position: relative;
  opacity: 1 !important;
  width: calc(100% - 100px);
  margin-left: 80px;
  padding: 40px;
  box-sizing: border-box;
  height: 100vh; }

.fos_content {
  position: absolute;
  display: inline-block;
  width: 75%;
  height: 75%;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center; }
  .fos_content_container {
    display: inline-block;
    margin: auto;
    text-align: left; }

.defaultContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px; }

a {
  text-decoration: none;
  color: #d8d8d8; }

p {
  color: #d8d8d8; }

h1 {
  font-family: serif_gothic_heavy, serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #AF3C70;
  margin-bottom: 15px; }

h2 {
  font-family: serif_gothic_heavy, serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #AF3C70;
  margin-bottom: 10px; }

.card {
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #282828;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1); }

.button {
  display: block;
  width: 180px;
  height: 55px;
  background-color: #AF3C70 !important;
  color: white;
  border-radius: 10px !important;
  line-height: 55px;
  text-align: center;
  font-family: qanelas_regular;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  margin-top: 10px; }

.form-label {
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #d8d8d8;
  font-family: qanelas_regular; }
.form-input {
  min-width: 200px;
  width: 300px;
  padding: 20px;
  background-color: #282828;
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-family: qanelas_regular;
  color: #d8d8d8; }
.form-textarea {
  resize: none;
  min-width: 400px;
  width: 500px;
  height: 150px; }

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #181818; }

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #181818; }

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #282828; }

.header {
  position: fixed;
  height: 100vh;
  width: 100px;
  background-color: #282828;
  margin-bottom: 40px; }

.header-logo {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 80px;
  padding: 15px;
  box-sizing: border-box; }
  .header-logo .svg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    fill: #AF3C70; }

.header-nav {
  position: absolute;
  width: 100%;
  bottom: 10%; }

.header-nav--link {
  position: relative;
  height: 80px;
  border-top: 1px solid #181818; }
  .header-nav--link:last-child {
    border-bottom: 1px solid #181818; }
  .header-nav--link:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 3px;
    height: 0%;
    background-color: #AF3C70;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1); }
  .header-nav--link:hover {
    cursor: pointer; }
    .header-nav--link:hover:after {
      height: 100%; }
  .header-nav--link.selected:after {
    height: 100%; }

.header-nav--link a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none; }
  .header-nav--link a .svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: #d8d8d8;
    width: 75%;
    height: 50%; }

.footer-link {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #4288CE;
  padding: 5px; }

.cookie {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 60px;
  background-color: #525252;
  left: 0;
  bottom: 0;
  border-top: 1px solid #d8d8d8;
  z-index: 99; }

.cookie-content {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 14px;
  font-size: 0; }

.cookie-txt {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 70px);
  margin-right: 20px;
  color: #d8d8d8;
  font-family: arquitectaregular;
  font-size: 16px; }

.cookie-bt {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 30px;
  background-color: #4288CE;
  color: #d8d8d8;
  font-family: arquitectaregular;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .cookie-bt:hover {
    background-color: #525252; }

.home {
  height: 100%;
  width: 100%; }

.home-catalogue {
  height: calc(100vh - 145px); }

.home-catalogue--title {
  padding-left: 22px; }

.home-catalogue--list {
  margin-top: 30px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll; }
  .home-catalogue--list:after {
    content: "";
    display: table;
    clear: both; }

#catalogue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #181818; }

#catalogue::-webkit-scrollbar {
  width: 10px;
  background-color: #181818; }

#catalogue::-webkit-scrollbar-thumb {
  background-color: #282828; }

.home-catalogue--listItem {
  width: 25%;
  position: relative;
  float: left;
  visibility: visible;
  opacity: 1;
  -moz-transition: 1s, cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 1s, cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 1s, cubic-bezier(0.77, 0, 0.175, 1);
  transition: 1s, cubic-bezier(0.77, 0, 0.175, 1); }
  .home-catalogue--listItem:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* ratio = 1:1 */ }
  .home-catalogue--listItem .container {
    margin: 22px 22px;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: #282828;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1); }
  .home-catalogue--listItem .home-catalogue--listItem-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    -moz-transition: all 20s linear;
    -o-transition: all 20s linear;
    -webkit-transition: all 20s linear;
    transition: all 20s linear; }
  .home-catalogue--listItem .home-catalogue--listItem-infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear; }
    .home-catalogue--listItem .home-catalogue--listItem-infos .home-catalogue--listItem-album {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .home-catalogue--listItem .home-catalogue--listItem-infos .home-catalogue--listItem-title {
      font-family: serif_gothic_heavy, serif;
      color: white;
      font-size: 16px;
      line-height: 18px;
      text-shadow: 0px 0px 7px rgba(150, 150, 150, 0.64); }
    .home-catalogue--listItem .home-catalogue--listItem-infos .home-catalogue--listItem-artist {
      font-family: qanelas_regular, sans-serif;
      color: white;
      font-style: italic;
      text-shadow: 0px 0px 7px rgba(150, 150, 150, 0.64); }
  .home-catalogue--listItem-feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    line-height: 30%;
    text-align: center;
    opacity: 0;
    -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
    .home-catalogue--listItem-feedback-content {
      position: absolute;
      height: 20px;
      width: 120px;
      top: 0;
      left: 10px;
      bottom: 0;
      margin: auto 0;
      font-family: qanelas_regular;
      font-size: 16px;
      font-style: italic;
      color: white; }
  .home-catalogue--listItem:hover {
    cursor: pointer; }
    .home-catalogue--listItem:hover .home-catalogue--listItem-img {
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
    .home-catalogue--listItem:hover .home-catalogue--listItem-infos {
      background-color: rgba(0, 0, 0, 0.7); }
    .home-catalogue--listItem:hover .home-catalogue--listItem-album {
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%); }
    .home-catalogue--listItem:hover .home-catalogue--listItem-feedback {
      opacity: 1;
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0); }

/* ------- Col 4 ------- */
@media screen and (min-width: 1620px) {
  .home-catalogue--listItem {
    width: 25%; } }
/* ------- Col 3 ------- */
@media screen and (min-width: 1220px) and (max-width: 1620px) {
  .home-catalogue--listItem {
    width: 33.33333%; } }
/* ------- Col 2 ------- */
@media screen and (min-width: 830px) and (max-width: 1220px) {
  .home-catalogue--listItem {
    width: 50%; } }
/* ------- Col 1 ------- */
@media screen and (max-width: 830px) {
  .home-catalogue--listItem {
    width: 100%; } }
.page404 {
  padding: 20px; }

.profile {
  height: 100%;
  width: 100%; }
  .profile .home-catalogue--listItem {
    display: inline-block;
    float: none; }

.profile-header {
  width: 100%; }

.profile-notifications {
  margin-bottom: 20px; }

.profile-borrowed {
  margin-bottom: 20px; }
  .profile-borrowed.custom-scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap; }

.profile-shared {
  margin-bottom: 20px; }
  .profile-shared.custom-scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap; }

.cd {
  width: 75%;
  margin: 0 auto; }

.cd-header {
  position: relative;
  border-bottom: 1px solid #282828;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.cd-author {
  margin-top: 5px;
  font-family: qanelas_regular;
  font-style: italic;
  font-size: 18px;
  color: #d8d8d8; }

.cd-owner {
  position: absolute;
  bottom: 20px;
  right: 0;
  color: #c0c0c0;
  font-family: qanelas_regular;
  font-size: 15px; }

.cd-content {
  color: #d8d8d8;
  font-family: qanelas_regular;
  line-height: 18px;
  font-size: 16px; }

.cd-img {
  width: 35%;
  float: left; }
  .cd-img img {
    width: 100%; }

.cd-text {
  width: 60%;
  float: right; }

.cd-actions {
  margin-top: 20px; }

.cd-borrower {
  font-size: 18px; }

.profile-share--form {
  margin-top: 30px; }

body {
  width: 100%;
  background-color: #f1f1f1;
  color: #2B2B2B;
  font-size: 14px;
  font-family: arial, sans-serif; }

#content {
  opacity: 0; }
