.cd{
  width: 75%;
  margin: 0 auto;
}

.cd-header{
  position:relative;
  border-bottom: 1px solid $grey;
  padding-bottom: 20px;
  margin-bottom:20px;
}

.cd-author{
  margin-top:5px;
  font-family: qanelas_regular;
  font-style: italic;
  font-size:18px;
  color: $white;
}

.cd-owner{
  position:absolute;
  bottom:20px;
  right:0;
  color: $grey-light;
  font-family: qanelas_regular;
  font-size:15px;
}

.cd-content{
  color: $white;
  font-family: qanelas_regular;
  line-height: 18px;
  font-size:16px;
}

.cd-img{
  width: 35%;
  float:left;
  img{
    width: 100%;
  }
}
.cd-text{
  width: 60%;
  float: right;
}

.cd-actions{
  margin-top:20px;
}

.cd-borrower{
  font-size:18px;
}

.profile-share--form{
  margin-top:30px;
}