.home{
  height: 100%;
  width: 100%;
}

.home-catalogue{
  height: calc(100vh - 145px);
}

.home-catalogue--title{
  padding-left:22px;
}

.home-catalogue--list{
  margin-top:30px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#catalogue::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: $black;
}

#catalogue::-webkit-scrollbar
{
  width: 10px;
  background-color: $black;
}

#catalogue::-webkit-scrollbar-thumb
{
  background-color: $grey;
}

.home-catalogue--listItem{
  width:25%;
  position: relative;
  float: left;
  visibility: visible;
  opacity: 1;
  @include transition(1s, $easeInOutQuart);

  &:before {
    content: "";
    display: block;
    padding-top: 100%; /* ratio = 1:1 */
  }

  .container {
    margin: 22px 22px;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: $grey;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
  }

  .home-catalogue--listItem-img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    z-index:1;
    @include transition(20s all linear);
  }

  .home-catalogue--listItem-infos{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:2;
    background-color: rgba(0, 0, 0, 0.5);
    @include transition(1s all linear);

    .home-catalogue--listItem-album{
      position:absolute;
      bottom:0;
      left:0;
      width: 100%;
      padding:15px;
      box-sizing: border-box;
      @include transition(0.4s all $easeOutQuad);
    }

    .home-catalogue--listItem-title{
      font-family: serif_gothic_heavy, serif;
      color: white;
      font-size:16px;
      line-height: 18px;
      text-shadow: 0px 0px 7px rgba(150, 150, 150, 0.64);
    }
    .home-catalogue--listItem-artist{
      font-family: qanelas_regular, sans-serif;
      color: white;
      font-style: italic;
      text-shadow: 0px 0px 7px rgba(150, 150, 150, 0.64);
    }
  }

  &-feedback{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 20%;
    line-height: 30%;
    text-align: center;
    opacity: 0;
    @include transition(0.6s all $easeInOutQuart);
    @include transform(translateX(-100%));
    &-content{
      position:absolute;
      height: 20px;
      width: 120px;
      top:0;
      left:10px;
      bottom:0;
      margin:auto 0;
      font-family: qanelas_regular;
      font-size:16px;
      font-style: italic;
      color:white;
    }
  }

  &:hover{
    cursor:pointer;
    .home-catalogue--listItem-img{
      @include transform(scale(1.3));
    }
    .home-catalogue--listItem-infos{
      background-color: rgba(0, 0, 0, 0.7);
    }
    .home-catalogue--listItem-album{
      @include transform(translateY(-100%));
    }
    .home-catalogue--listItem-feedback{
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}

/* ------- Col 4 ------- */
@media screen and (min-width: 1620px) {
  .home-catalogue--listItem {
    width: 25%;
  }
}

/* ------- Col 3 ------- */
@media screen and (min-width: 1220px) and (max-width: 1620px) {
  .home-catalogue--listItem {
    width: 33.33333%;
  }
}

/* ------- Col 2 ------- */
@media screen and (min-width: 830px) and (max-width: 1220px) {
  .home-catalogue--listItem {
    width: 50%;
  }
}

/* ------- Col 1 ------- */
@media screen and (max-width: 830px) {
  .home-catalogue--listItem {
    width: 100%;
  }
}