.profile{
  height: 100%;
  width: 100%;

  .home-catalogue--listItem{
    display: inline-block;
    float:none;
  }
}

.profile-header{
  width: 100%;
}
.profile-notifications{
  margin-bottom:20px;
}
.profile-borrowed{
  margin-bottom:20px;
  &.custom-scroll{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.profile-shared{
  margin-bottom:20px;
  &.custom-scroll{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
