<!DOCTYPE html>
<html>
<head lang="fr">

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" href="{{ url('homepage') }}/assets/css/style.css" />

    <!-- START: RS -->
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>

{% include('svg.html') ignore missing %}

<header class="header">
    <div class="header-logo">
        <svg class="svg">
            <use xlink:href="#logo"></use>
        </svg>
    </div>
    <nav class="header-nav">
        <ul>
            <li class="header-nav--link">
                {% if app.user.id is defined %}
                    <a href="{{ url('profile_share', {'id' : app.user.id}) }}">
                        <svg class="svg">
                            <use xlink:href="#cd_add"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <svg class="svg">
                            <use xlink:href="#cd_add"></use>
                        </svg>
                    </a>
                {% endif %}
            </li>
            <li class="header-nav--link">
                <a href="{{ url('homepage') }}">
                    <svg class="svg">
                        <use xlink:href="#catalog"></use>
                    </svg>
                </a>
            </li>
            <li class="header-nav--link">
                {% if app.user.id is defined %}
                    <a href="{{ url('profile_consult', {'id' : app.user.id}) }}">
                        <svg class="svg">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <svg class="svg">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<!-- START: div content-->
<div id="content">

    {% block body %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>#}
            {% else %}
                {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="fos_content">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    {% endblock %}


    <!-- END: div content-->
</div>

<!-- START: footer -->
<footer class="footer">
</footer>
<!-- END -->
<script type="application/javascript">
    function callbackScriptLoaded(){
        SL.main = new SL.app.Main("{{url('homepage')}}");
    }
</script>
{#<script src="{{ url('homepage') }}/assets/js/script.js" />#}

</body>
</html>