{% extends 'profile/profile.html.twig' %}
{% block profile %}
    <div class="profile-consult">
        {% if app.user.id == user.id %}
            <h2>Notifications</h2>
            <div class="profile-notifications card">
            {% if notifications is defined %}

            {% else %}
                <p><i>Pas de notifications</i></p>
            {% endif %}
            </div>
        {% endif %}
        <h2>Empruntés</h2>
        <div class="profile-borrowed {% if borrowed is empty %}card{% else %}custom-scroll{% endif %}">
            {% if borrowed is not empty %}
                {% if borrowed is not null %}
                    {% for cd in borrowed %}
                        {#Start item#}
                        <div class="home-catalogue--listItem">
                            <a href="{{ url('cd_consult', {'id' : cd.id}) }}">
                                <div class="container">
                                    <img src="{{ url('homepage') }}/uploads/{{ cd.path }}" alt="" class="home-catalogue--listItem-img">
                                    <div class="home-catalogue--listItem-infos">
                                        <div class="home-catalogue--listItem-album">
                                            <div class="home-catalogue--listItem-title">
                                                {{ cd.title }}
                                            </div>
                                            <div class="home-catalogue--listItem-artist">
                                                {{ cd.author }}
                                            </div>
                                        </div>
                                        <div class="home-catalogue--listItem-feedback">
                                            <span class="home-catalogue--listItem-feedback-content">Voir la fiche</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {#End item#}
                    {% endfor %}
                {% endif %}
            {% else %}
                <p><i>Aucun CD emprunté</i></p>
            {% endif %}
        </div>
        <h2>Partagés</h2>
        <div class="profile-shared custom-scroll {% if shared is empty %}card{% else %}custom-scroll{% endif %}">
            {% if shared is not empty %}
                {% if shared is not null %}
                    {% for cd in shared %}
                        {#Start item#}
                        <div class="home-catalogue--listItem">
                            <a href="{{ url('cd_consult', {'id' : cd.id}) }}">
                                <div class="container">
                                    <img src="{{ url('homepage') }}/uploads/{{ cd.path }}" alt="" class="home-catalogue--listItem-img">
                                    <div class="home-catalogue--listItem-infos">
                                        <div class="home-catalogue--listItem-album">
                                            <div class="home-catalogue--listItem-title">
                                                {{ cd.title }}
                                            </div>
                                            <div class="home-catalogue--listItem-artist">
                                                {{ cd.author }}
                                            </div>
                                        </div>
                                        <div class="home-catalogue--listItem-feedback">
                                            <span class="home-catalogue--listItem-feedback-content">Voir la fiche</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {#End item#}
                    {% endfor %}
                {% endif %}
            {% else %}
                <p><i>Aucun CD partagé</i></p>
                {% if app.user.id == user.id %}
                    <br>
                    <a href="{{ url('profile_share', {'id': app.user.id}) }}" class="button">Partager un CD</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}