{% extends 'base.html.twig' %}
{% block title %}Profil de {{ user.username }}{% endblock %}
{% block body %}
    <div class="profile">
        <div class="defaultContainer">
            <div class="profile-header">
                <div class="profile-userImg">

                </div>
                <div class="profile-userInfos">
                    <div class="profile-userName">
                        <h1>Profil de {{ user.username }}</h1>
                    </div>
                </div>
                <div class="profile-shareAction"></div>
                <div class="profile-editAction">

                </div>
            </div>
            {% block profile %}
            {% endblock %}
        </div>
    </div>
{% endblock %}