{% extends 'profile/profile.html.twig' %}
{% block profile %}
    <h2>Ajouter un CD à partager</h2>
    {{ form_start(form, {'attr': {'class': 'profile-share--form'}}) }}

    {{ form_label(form.title, "Nom de l'album", {'label_attr': {'class': 'form-label'}}) }}<br>
    {{ form_widget(form.title, {'attr': {'class': 'profile-share--input form-input'}}) }}<br><br>

    {{ form_label(form.author, "Interprète(s)", {'label_attr': {'class': 'form-label'}}) }}<br>
    {{ form_widget(form.author, {'attr': {'class': 'profile-share--input form-input'}}) }}<br><br>

    {{ form_label(form.image, "Pochette", {'label_attr': {'class': 'form-label'}}) }}<br>
    {{ form_widget(form.image, {'attr': {'class': 'profile-share--input form-input'}}) }}<br><br>

    {{ form_label(form.description, "Description", {'label_attr': {'class': 'form-label'}}) }}<br>
    {{ form_widget(form.description, {'attr': {'class': 'profile-share--input form-input form-textarea'}}) }}<br><br>

    {{ form_widget(form.save, {'attr': {'class': 'profile-share--submit button'}}) }}

    {{ form_end(form) }}
{% endblock %}