<!DOCTYPE html>
<html>
<head lang="{{lang}}">

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- START: ALTERNATE LINKS -->
    {{#urls.current.alternates}}
    <link rel="alternate" hreflang="{{lang}}" href="{{link}}" />
    {{/urls.current.alternates}}
    <!-- END -->

    <link rel="stylesheet" href="{{urls.css}}style.css{{gzip}}"/>

    <!-- START: RS -->
    <title>{{local.title}}</title>
    <meta name="description" content="{{local.description}}"/>
</head>
<body>

{{{svg}}}

<header class="header">
        <nav class="header-nav">
            <ul>
                <li class="header-nav--link">
                    <a href="">
                        <svg class="svg">
                            <use xlink:href="#catalog"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-nav--link">
                    <a href="">
                        <svg class="svg">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
</header>

<!-- START: div content-->
<div id="content">