{% extends 'base.html.twig' %}

{% block body %}
    <div class="cd">
        <div class="cd-header">
            <h1 class="cd-title">
                {{ cd.title }}
            </h1>
            <div class="cd-author">
                {{ cd.author }}
            </div>
            <div class="cd-owner">
                Appartient à <a href="{{ url('profile_consult', {'id': cd.owner.id}) }}">{{ cd.owner.username }}</a>
            </div>
        </div>
        <div class="cd-content card">
            <div class="cd-img">
                <img src="{{ url('homepage') }}/uploads/{{ cd.path }}" alt="">
            </div>
            <div class="cd-text">{{ cd.description }}</div>
        </div>

        {#Ne pas afficher quand propriétaire#}{#
        <div class="cd-actions">
            #}{#Afficher quand disponible#}{#
            <a href="#" class="cd-borrow button">
                Emprunter
            </a>
            #}{#Afficher quand emprunté#}{#
            #}{#Emprunteur#}{#
            <a href="#" class="cd-giveBack button">
                Rendre
            </a>
            #}{#Autre#}{#
            <div class="cd-borrower">Emprunté par <a href="">Jacques</a></div>
        </div>#}

    </div>
{% endblock %}