.cookie {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 60px;
  background-color: #525252;
  left: 0;
  bottom: 0;
  border-top: 1px solid $white;
  z-index: 99;
}

.cookie-content {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 14px;
  font-size: 0;
}

.cookie-txt {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 70px);
  margin-right: 20px;
  color: $white;
  font-family: arquitectaregular;
  font-size: 16px;
}

.cookie-bt {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 30px;
  background-color: #4288CE;
  color: $white;
  font-family: arquitectaregular;
  font-size: 14px;
  text-align: center;
  line-height:30px;
  cursor: pointer;
  @include transition(all 0.4s $easeOutQuart);
  &:hover{
    background-color: #525252;
  }
}