.header{
  position:fixed;
  height: 100vh;
  width: 100px;
  background-color: $grey;
  //border-bottom:1px solid grey;
  margin-bottom: 40px;
}

.header-logo{
  position:absolute;
  top:15px;
  width: 100%;
  height: 80px;
  padding:15px;
  box-sizing: border-box;
  .svg{
    position:absolute;
    left:0;
    right:0;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    fill:$pink;
  }
}

.header-nav{
  position: absolute;
  width: 100%;
  bottom:10%;
}
.header-nav--link{
  position:relative;
  height: 80px;
  border-top:1px solid $black;

  &:last-child{
    border-bottom:1px solid $black;
  }
  &:after{
    position:absolute;
    content:"";
    right:0;
    top:0;
    bottom:0;
    margin: auto 0;
    width: 3px;
    height: 0%;
    background-color: $pink;
    @include transition(0.6s all $easeInOutQuart);
  }

  &:hover{
    cursor: pointer;
    &:after{
      height: 100%;
    }
  }

  &.selected{
    &:after{
      height: 100%;
    }
  }
}

.header-nav--link a{
  display:block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  .svg{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    fill:$white;
    width: 75%;
    height: 50%;
  }
}