<!DOCTYPE html>
<html>
<head lang="fr">

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" href="{{ url('homepage') }}/assets/css/style.css" />

    <!-- START: RS -->
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>

{% include('svg.html') ignore missing %}

<header class="header">
    <div class="header-logo">
        <svg class="svg">
            <use xlink:href="#logo"></use>
        </svg>
    </div>
    <nav class="header-nav">
        <ul>
            <li class="header-nav--link">
                {% if app.user.id is defined %}
                <a href="{{ url('profile_share', {'id' : app.user.id}) }}">
                    <svg class="svg">
                        <use xlink:href="#cd_add"></use>
                    </svg>
                </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <svg class="svg">
                            <use xlink:href="#cd_add"></use>
                        </svg>
                    </a>
                {% endif %}
            </li>
            <li class="header-nav--link">
                <a href="{{ url('homepage') }}">
                    <svg class="svg">
                        <use xlink:href="#catalog"></use>
                    </svg>
                </a>
            </li>
            <li class="header-nav--link">
                {% if app.user.id is defined %}
                    <a href="{{ url('profile_consult', {'id' : app.user.id}) }}">
                        <svg class="svg">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <svg class="svg">
                            <use xlink:href="#user"></use>
                        </svg>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<!-- START: div content-->
<div id="content">

    {% block body %}{% endblock %}


    <!-- END: div content-->
</div>

<!-- START: footer -->
<footer class="footer">
</footer>
<!-- END -->
<script type="application/javascript">
    function callbackScriptLoaded(){
        SL.main = new SL.app.Main("{{url('homepage')}}");
    }
</script>
{#<script src="{{ url('homepage') }}/assets/js/script.js" />#}

</body>
</html>