{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="home">
        <div class="defaultContainer">

            <div class="home-catalogue">
                <h1 class="home-catalogue--title">Catalogue</h1>
                <div class="home-catalogue--list" id="catalogue">
                    {% if array_cd is not empty %}
                        {% for cd in array_cd %}
                        {#Start item#}
                        <div class="home-catalogue--listItem">
                            <a href="{{ url('cd_consult', {'id' : cd.id}) }}">
                                <div class="container">
                                    <img src="{{ url('homepage') }}/uploads/{{ cd.path }}" alt="" class="home-catalogue--listItem-img">
                                    <div class="home-catalogue--listItem-infos">
                                        <div class="home-catalogue--listItem-album">
                                            <div class="home-catalogue--listItem-title">
                                                {{ cd.title }}
                                            </div>
                                            <div class="home-catalogue--listItem-artist">
                                                {{ cd.author }}
                                            </div>
                                        </div>
                                        <div class="home-catalogue--listItem-feedback">
                                            <span class="home-catalogue--listItem-feedback-content">Voir la fiche</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {#End item#}
                        {% endfor %}
                        {% else %}
                            <div style="padding-left:30px;">
                                <p><i>Aucun CD partagé</i></p>
                                <br>
                                {% if app.user.id is defined %}
                                    <a href="{{ url('profile_share', {'id': app.user.id}) }}" class="button">Partager un CD</a>
                                {% else %}
                                    <a href="{{ url('fos_user_security_login') }}" class="button">Partager un CD</a>
                                {% endif %}
                            </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}