.defaultContainer{
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

a{
  text-decoration: none;
  color: $white;
}

p{
  color: $white;
}

h1{
  font-family: serif_gothic_heavy, serif;
  font-size: 40px;
  text-transform: uppercase;
  color: $pink;
  margin-bottom:15px;
}

h2{
  font-family: serif_gothic_heavy, serif;
  font-size: 24px;
  text-transform: uppercase;
  color: $pink;
  margin-bottom:10px;
}

.card{
  padding:30px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $grey;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}

.button{
  display:block;
  width: 180px;
  height: 55px;
  background-color: $pink!important;
  color: white;
  border-radius: 10px!important;
  line-height: 55px;
  text-align:center;
  font-family: qanelas_regular;
  font-weight: bold;
  font-size:16px;
  border:none;
  outline:none;
  margin-top:10px;
}

.form{

  &-label{
    display:block;
    font-size:18px;
    line-height: 20px;
    color:$white;
    font-family: qanelas_regular;
  }
  &-input{
    min-width: 200px;
    width: 300px;
    padding:20px;
    background-color: $grey;
    outline: none;
    border:none;
    margin-bottom:10px;
    font-family: qanelas_regular;
    color: $white;
  }
  &-textarea{
    resize:none;
    min-width: 400px;
    width: 500px;
    height: 150px;
  }
}

.custom-scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: $black;
}

.custom-scroll::-webkit-scrollbar
{
  width: 10px;
  background-color: $black;
}

.custom-scroll::-webkit-scrollbar-thumb
{
  background-color: $grey;
}