@font-face {
  font-family: 'serif_gothic_heavy';
  src: url('../font/serifgothicstd-heavy-webfont.eot');
  src: url('../font/serifgothicstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/serifgothicstd-heavy-webfont.woff2') format('woff2'),
  url('../font/serifgothicstd-heavy-webfont.woff') format('woff'),
  url('../font/serifgothicstd-heavy-webfont.ttf') format('truetype'),
  url('../font/serifgothicstd-heavy-webfont.svg#serif_gothic_heavy') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'qanelas_regular';
  src: url('../font/qanelas-regular-webfont.eot');
  src: url('../font/qanelas-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/qanelas-regular-webfont.woff2') format('woff2'),
  url('../font/qanelas-regular-webfont.woff') format('woff'),
  url('../font/qanelas-regular-webfont.ttf') format('truetype'),
  url('../font/qanelas-regular-webfont.svg#qanelas_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}