html,body{
  width: 100%;
  min-width: 320px;
  min-height: 600px;
  font-size: 14px;
  z-index: 0;
  margin:0;
  @include font-smoothing();
}

body{
  background-color: $black!important;
}

#content{
  position:relative;
  opacity: 1!important;
  width: calc(100% - 100px);
  margin-left:80px;
  padding: 40px;
  box-sizing: border-box;
  height: 100vh;
}

.fos_content{
  position: absolute;
  display:inline-block;
  width: 75%;
  height: 75%;
  top:0;
  left:0;
  right: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center;
  &_container{
    display:inline-block;
    margin:auto;
    text-align: left;
  }
}