{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h1>Confirmation</h1>
    <p style="color:whitesmoke;">{{ 'Compte créé'|trans({'%username%': user.username}) }}</p><br>
    <a href="{{ url('homepage') }}" class="button" style="margin: 0 auto;">Aller à l'accueil</a>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
