{% trans_default_domain 'FOSUserBundle' %}
<h1>Inscription</h1>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form'}}) }}
    {{ form_label(form.email, "Email", {'label_attr': {'class': 'form-label'}}) }}<br>
{{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}<br><br>

{{ form_label(form.username, "Nom", {'label_attr': {'class': 'form-label'}}) }}<br>
{{ form_widget(form.username, {'attr': {'class': 'form-input'}}) }}<br><br>

{{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'form-label'}}) }}<br>
{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-input'}}) }}<br>
{{ form_label(form.plainPassword.second, "Confirmation du mot de passe", {'label_attr': {'class': 'form-label'}}) }}<br>
{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-input'}}) }}<br><br>
<div>
    <input type="submit" class="button" value="{{ 'S\'inscrire'|trans }}"/>
</div>
{{ form_end(form) }}
