{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="fos_content_container">{% include "FOSUserBundle:Registration:register_content.html.twig" %}</div>
{% endblock fos_user_content %}
