<div class="home">
    <div class="defaultContainer">

        <div class="home-catalogue">
            <h1 class="home-catalogue--title">Catalogue</h1>
            <div class="home-catalogue--list" id="catalogue">
                <div class="home-catalogue--listItem">
                    <div class="container">
                        <img src="{{urls.assets}}img/test.jpg" alt="" class="home-catalogue--listItem-img">
                        <div class="home-catalogue--listItem-infos">
                            <div class="home-catalogue--listItem-album">
                                <div class="home-catalogue--listItem-title">
                                    The English Riviera
                                </div>
                                <div class="home-catalogue--listItem-artist">
                                    Metronomy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
                <div class="home-catalogue--listItem">
                    <div class="container"></div>
                </div>
            </div>
        </div>
    </div>
</div>