{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="fos_content_container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1>Connexion</h1>
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username" class="form-label">{{ 'Nom'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-input" required="required" />

            <label for="password" class="form-label">{{ 'Mot de passe'|trans }}</label>
            <input type="password" id="password" name="_password" class="form-input" required="required" />
            <br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me" class="form-label" style="display:inline-block;">{{ 'Se souvenir de moi'|trans }}</label>

            <input type="submit" id="_submit" name="_submit" class="button" value="{{ 'Connexion'|trans }}" />
        </form>
        <br>
        <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
    </div>

{% endblock fos_user_content %}
