// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);

// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

//InOut
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);