@charset "UTF-8";



/*******************************/
/* -------- CSS RESET -------- */
/*******************************/


/* -------- GLOBAL -------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
	margin:0; 
	padding:0; 
	border:0; 
}

body { line-height:1; }

table { 
	border-collapse:collapse; 
	border-spacing:0; 
}

fieldset, img, input, textarea { border:0; }

address, caption, cite, code, dfn, em, strong, th, var { 
	font-style:normal; 
	font-weight:normal; 
}

ol, ul, li { list-style:none; }

caption, th { text-align:left; }

h1, h2, h3, h4, h5, h6 { 
	font-size:100%; 
	font-weight:normal; 
}

abbr,acronym { 
	border:0; 
	font-variant:normal; 
}

sup { vertical-align:text-top; }

sub { vertical-align:text-bottom; }

input, textarea, select { 
	font-family:inherit; 
	font-size:inherit; 
	font-weight:inherit; 
	font-size:100%; 
	margin:0; 
	padding:0; 
}

legend { color:#000; }

a, img, input, textarea, select { outline:none; }

textarea { overflow:auto; }

input[type=submit], input[type=checkbox] { cursor:pointer; }

input[type=submit]  { background:0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }



/* -------- MOBILE -------- */

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none; }

a, input, div { -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }

input[type=text], input[type=tel], input[type=submit] { 
	-webkit-appearance:none; 
	-webkit-border-radius:0px; 
	border-radius:0; 
}


